$color-primary: #212941;
$color-secondary: #d72c1d;
$color-orange: #FC6532;
$color-purple: #7B61FF;
$color-green: #3D9A77;
$color-blue: #3171EC;
$color-pink: #EC2253;

$color-white: #fff;
$color-black: #000;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;