.inputSearch {
  width: 100%;

  input {
    font: inherit;
    width: 100%;
    height: 44px;
    padding: 10px 15px;
    border-radius: 10px;
  }
}

.card {
  width: 280px;
  height: 300px;
  background-color: $color-white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 0px 0px 10px rgba(210, 61, 255, 0.5);
  }


  &:hover > &__pic img {
    transform:scale(1.2);
  }
  
  &__pic {
    overflow: hidden;

    & img {
      height: 200px;
      display: block;
      object-fit: cover;
      transition: all 1s ease-out;
    }
  }

  &__heart {
    position: absolute;
    right: 10px;
    top: 10px;

    & i {
      font-size: 24px;
      color: $color-white;
    }
  }

  &__content {
    height: 100px;
    padding: 8px 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    
    & h2 {
      font-size: 18px;
      font-weight: $bold;
      margin-bottom: 7px;

      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & > span {
      font-size: 14px;
      font-weight: $regular;
      color: $color-green;
    }
  }

  &__phone {
    color: $color-green;
    font-weight: $regular;

    & i {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  &__address {
    display: flex;
    align-items: flex-start;
    
    & i {
      color: $color-orange;
      margin-right: 5px;
    }

    & p {
      font-size: 14px;
      font-weight: $regular;
    }
  }
}

.mask {
  width: 100%;
  min-height: 100vh;
  background-color: $color-black;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}