.card {
  width: 280px;
  height: 300px;
  background-color: $color-white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;


  &:hover {
    box-shadow: 0px 0px 10px rgba(210, 61, 255, 0.5);
  }

  
  &__pic {
    overflow: hidden;

    & img {
      height: 200px;
      display: block;
      object-fit: cover;
    }
  }

  &__heart {
    position: absolute;
    right: 10px;
    top: 10px;

    & i {
      font-size: 24px;
      color: $color-white;
      transition: all 0.3s ease-out;

      &:hover {
        color: #C4181F;
        font-weight: 900;
      }
    }
  }

  &__content {
    padding: 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    
    & h2 {
      font-size: 18px;
      font-weight: $regular;
      height: 22px;
      margin-bottom: 5px;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & > span {
      font-size: 14px;
      font-weight: $regular;
      color: $color-green;
    }
  }

  &__phone {
    color: $color-green;
    font-weight: $regular;
    margin-bottom: 25px;

    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /*行數*/
    -webkit-box-orient: vertical;
    white-space: normal;

    & i {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  &__address {
    display: flex;
    align-items: flex-start;
    
    & i {
      color: $color-orange;
      margin-right: 5px;
    }

    & p {
      font-size: 14px;
      line-height: 1.1;
      font-weight: $regular;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.filter {
  width: 100%;
  max-width: 1000px;
  padding: 0 18px;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate3d(-50%, 0, 0);
  padding: 0 18px;
  z-index: 11;

  &__content {
    padding: 30px 18px 20px;
    background-color: $color-white;
    border-radius: 10px;
    position: relative;
  }

  &__keyword {
    margin: 20px 0 30px;
    display: flex;

    & i {
      color: $color-orange;
      font-size: 24px;
      margin-right: 10px;
    }
    
    & input {
      width: 100%;
      font-size: 16px;
      border-bottom: 1px solid $color-orange;
      padding: 0 0 5px 5px;
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  &__title {
    width: 10%;
    font-size: 18px;
    font-weight: $bold;
  }

  &__items {
    width: 90%;
    display: flex;
    flex-wrap: wrap;      

    & label {
      display: inline-block;
      font-weight: $regular;
      padding: 6px 25px;
      border-radius: 20px;
      border: 1px solid #AEAEAE;
      margin: 0 5px 8px;
      cursor: pointer;

      &:hover {
        color: $color-white;
        background-color: $color-orange;
        border: 1px solid transparent;
      }
    }

    & input:checked + label {
      color: $color-white;
      background-color: $color-orange;
      border: 1px solid transparent;
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;

    & button {
      font-size: 16px;
      font-weight: $medium;
      height: 40px;
      line-height: 40px;
      border-radius: 10px;
      cursor: pointer;
    }

    &--clear {
      width: 28%;
      background-color: $color-white;
      border: 1px solid #AEAEAE;

      &:hover {
        color: $color-white;
        background-color: #AEAEAE;
      }
    }

    &--search {
      width: 70%;
      color: $color-white;
      background-color: $color-orange;

      &:hover {
        background-color: #e24511;
      }
    }
  }

  &__close {
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
}

.mask {
  width: 100%;
  min-height: 100vh;
  background-color: $color-black;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}