.results {
  padding: 0 18px;

  &__content {
    width: 1200px;
    max-width: 100%;
    height: 60vh;
    margin: 0 auto;
    position: relative;

    @include desktop {
      height: 100%;
    }

    @include ipadPro {
      margin-bottom: 198px;
    }
  }

  &__block {
    width: 100%;
    height: 250px;
    background-color: $color-white;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: -250px;

    @include pad {
      display: none;
    }

    @include ipadPro {
      display: none;
    }
  }
  
  &__cardBox {
    width: 100%;
    background-color: $color-white;
    padding: 0 18px;
    transform: translateY(-220px);

    @include pad {
      transform: translateY(0);
      padding: 0;
    }

    @include ipadPro {
      transform: translateY(0);
      padding: 0;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: $bold;
    margin-bottom: 20px;

    &::before {
      content: '|';
      color: transparent;
      display: inline-block;
      width: 6px;
      border-radius: 10px;
      margin-right: 5px;
    }

    &--1::before {
      background-color: $color-purple;
    }

    &--2::before {
      background-color: $color-orange;
    }

    &--3::before {
      background-color: $color-green;
    }
  }

  &__marks {
    display: flex;
    margin-bottom: 30px;

    & li {
      font-size: 14px;
      font-weight: 500;
      padding: 8px 20px;
      border: 1px solid #AEAEAE;
      border-radius: 20px;
      margin-right: 12px;
      cursor: pointer;

      &:hover {
        color: $color-white;
        background-color: $color-orange;
        border: 1px solid transparent;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 25px;

    @include desktop {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }

    @include pad {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }

    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    & li {
      width: 100%;
    }
  }

  &__error {
    font-size: 20px;
    font-weight: $bold;
    display: flex;
    justify-content: center;
    text-align: start;
    margin: 70px 0 100px;
  }
}